Source: sitemarker
Section: utils
Priority: optional
Maintainer: Aero <aerocyberdev@proton.me>
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/aerocyber/sitemarker
Vcs-Browser: https://github.com/aerocyber/sitemarker
Vcs-Git: https://github.com/aerocyber/sitemarker.git
Build-Depends: debhelper-compat (= 13)

Package: sitemarker
Architecture: amd64
Depends: ${misc:Depends},
	${shlibs:Depends},
	libgtk-3-0,
	libglib2.0-0,
	libsqlite3-0

Description: A cross-platform, offline-first bookmark management application.
 Keep your digital references organized, secure, and accessible.